.modnotes 
{
    @include flex;
    height: calc(100vh - 6rem);
    width: 80%;
}
.modnotes__wrapper
{
    height: 100%;
    width: 100%;        
    @include flex;
    
}
.modnotes__wrapper--top
{
   align-items: flex-start;
}
.modnotes__container
{
    margin: 5rem ;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}
.modnotes__empty
{
    @include flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .modnotes__empty-icon
    {
        font-size: 10rem;
        color:#333;
        opacity: 0.4;
    }
 
    .modnotes__empty-text
    {
        font-size: 2rem;
        padding-top: 2rem;
        opacity: 0.5;
    }
}
.modnotes__container--center
{
    justify-content: center;
}