.modnotes 
{
    @include flex;
    height: 100vh;
    width: 100vw;
}
.modnotes__wrapper
{
    height: 100%;
    width: 100%;
}

.modnotes__container
{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 5rem 0;
    @include flex;
    justify-content: left;
    align-items: flex-start;
}
.modnotes__empty
{
    @include flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .modnotes__empty-icon
    {
        font-size: 10rem;
        color:#333;
        opacity: 0.4;
    }
 
    .modnotes__empty-text
    {
        font-size: 2rem;
        padding-top: 2rem;
        opacity: 0.5;
    }
}
.modnotes__container--center
{
    justify-content: center;
}