.wrapper
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.body 
{
    @include flex;
}
.dashboard
{
    width: 100%;
    height: calc(100vh - 6rem);
}
.dashboard-notes__wrapper
{
    display: flex;
    flex-direction: column;
    width: 100%;
    .addnotes__wrapper
    {
        width: 100%;
        margin: 3rem 0;
    }
}

.notes-container {
    margin: 1rem 5rem;
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  }

  .notes-isPinned
  {
      margin: 2rem 5rem 2rem 5rem ;
      flex-direction: row;
      justify-content: left;
      align-items: flex-start;
      position: relative;
      padding-top: 1.5rem;
      h4 
      {
          position: absolute;
          left:2rem;
          top: 0.7rem;
      }
  }