.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 8000;

}

.modal__wrapper {
  position: fixed;
  width: 40%;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9000;
  border-radius: 10px;
}


.modal--display-block {
  display: block;
  opacity: 1;
  transition: opacity 0.3s;
}

.modal--display-none {
  display: none;
  opacity: 0;
}

.modal--editable {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  min-width: 100%;
  max-width: 100%;
  resize: none;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 5px;
  overflow-y: none;
}
.modal__edit-title {
  font-size: 2rem;
  min-height: 5rem;
  max-height: 6rem;
  margin-top: 1rem;
  padding-left: 1.5rem;

}
.modal__edit-description {
  min-height: 9rem;
  max-height: 30vh;
  padding-left: 1.5rem;

}

.modal--isScrollable {
  overflow-y: scroll;
}

.modal__footer
{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  min-height: 3rem;
  margin-top: 1rem;
  bottom: 0.3rem;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;

}
.modal__footer-btn
{
  background: transparent;
  outline: none;
  border: none;
  font-size: 2.3rem;
  cursor: pointer;
  margin-right: 1.5rem;
}

.modal__palette
{
  left: 2.5%;
  bottom: 3rem;
}

.modal-btn {
  position: absolute;
  right: 15px;
  bottom: 1px;
  outline: none;
  background: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.modal-btn:hover
{
  background-color: #eee;
}