.tippy-box[data-theme~='blue'] {
    background-color: #333;
    color: floralwhite;
    padding: 0 0.2rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
  }