.App {
  text-align: center;
  height: 100vh;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form 
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  position: relative;

}
.notebody,.taskTitle
{
  color: #202124;
  /* min-height: 38px; */
  padding: 4px 16px 8px 16px;
  width: 100%;
  height: 30px;
  border: none;
  box-shadow: 0px 3px 10px #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  overflow: hidden;
  white-space: pre-wrap;
}


.addnote
{
  position: absolute;
  bottom: 5px;
  right: 0;
  background: transparent;
  border: none;
  padding: 5px;

}
.addnote:hover
{
  background-color: rgba(95, 99, 104, 0.039);
}

.notes-container
{
  margin: 50px auto;
  width: 65vw;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.note 
{
  min-width: 200px;
  max-width: 200px;
  margin: 16px;
  border:1px solid;
  border-color: #e0e0e0;
  border-radius: 8px;
  text-align: left;
  padding: 8px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  white-space: pre;
  padding-bottom: 4px;
}
.notetitle
{
   max-width: 100%;
   text-align: left;
   word-wrap: break-word;
   white-space: pre-wrap;

}
.note:hover
{
  box-shadow: 0px 3px 7px #e1e1e1;

}
.notetext
{
    min-height: 100px;
    cursor: pointer;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.color--palette
{
  border: none;
  background: transparent;
  font-size: 20px;
}

.color--palette:hover
{
  background: #e2e2e2;
  transition: all 0.2s ;
}

.footer
{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  min-height: 30px;
  margin-top: 10px;
}

.footer--btn
{
    background: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.show 
{
  display: block;
  opacity: 1;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 3px 7px #e1e1e1;
  background-color: #fff;
  z-index: 4000;
  max-width: 130px;
  border-radius: 5px;
}

.hide 
{
  opacity: 0;
  height: 0;
}

.wrapper 
{
    padding : 0px 10px
}

.palette--btn{
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: #e0e0e0 solid ;
    border-width: 1px 1px 1px 1px;
    margin: 1px;
    margin-bottom: 3px;
    cursor: pointer;
}

.palette--btn:hover 
{
    border: 1.5px solid #333;
}
.col-3 
{
  padding-left: 0px !important;
  padding-right: 5px !important;
}

.palette-container 
{
  bottom: 20px;
  left:10%;
  position: absolute;
  z-index: 4000;
}

.pin
{
    position: absolute;
    right: 10px;
    top:10px
}
.showOptions
{
    opacity: 1;
    transition: opacity 0.3s;
}

.hideOptions
{
  opacity: 0;
  height: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 8000;

}

.modal-main {
  position:fixed;
  width: 50%;
  height: fit-content;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 9000;
  padding: 0 0 0 15px;
  border-radius: 10px;
  min-height: 35vh;
}

.modal-btn
{
   position: absolute;
   right: 15px;
   bottom: 1px;
}
.display-block {
  display: block;
  opacity: 1;
  transition: opacity 0.3s;
}

.display-none {
  display: none;
  opacity: 0;
}

.editable
{
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  overflow: hidden;
  min-width: 100%;
  max-width: 100%;
  resize: none;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 5px;
  overflow: hidden;
}
.edit-title
{
    font-size: 20px;
    min-height: 20px;
    max-height: 100px;
    
}
.edit-description
{
  min-height: 80px;
  max-height: 60vh;
}

.isScroll
{
  overflow-y: scroll;
}